@mixin nudge-crop($responsive){
    .#{$nudge-prefix}#{$nudge-crop-prefix}#{$responsive} {
        overflow: hidden;
    }
    .#{$nudge-prefix}#{$nudge-crop-prefix}#{$nudge-x-prefix}#{$responsive} {
        overflow-x: hidden;
    }
    .#{$nudge-prefix}#{$nudge-crop-prefix}#{$nudge-y-prefix}#{$responsive} {
        overflow-y: hidden;
    }
}

@include nudge-crop($nudge-empty-string);

@media(max-width: $screen-xs-max) {
    @include nudge-crop($nudge-responsive-xs-prefix);
}

@media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include nudge-crop($nudge-responsive-sm-prefix);
}

@media(min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @include nudge-crop($nudge-responsive-md-prefix);
}

@media(min-width: $screen-lg-min) {
    @include nudge-crop($nudge-responsive-lg-prefix);
}