@mixin nudge-heading($prefix, $size, $unit, $base, $heading){
    .#{$prefix}#{$nudge-heading-prefix}#{$heading} {
        font-size: $size + ($unit * $base);
        @media(min-width: $screen-md-min) and (max-width: $screen-md-max) {
            font-size: $size + ($unit * ($base - 4));
        }
        @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            font-size: $size + ($unit * ($base - 8));
        }
        @media(max-width: $screen-xs-max) {
            font-size: $size + ($unit * ($base - 12));
        }
    }
}

@include nudge-heading($nudge-prefix, $nudge-font-size, $nudge-font-size-increment, 42, $nudge-hg-prefix);
@include nudge-heading($nudge-prefix, $nudge-font-size, $nudge-font-size-increment, 34, $nudge-lg-prefix);
@include nudge-heading($nudge-prefix, $nudge-font-size, $nudge-font-size-increment, 26, $nudge-empty-string);
@include nudge-heading($nudge-prefix, $nudge-font-size, $nudge-font-size-increment, 18, $nudge-sm-prefix);