@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-radius-top($size){
    -webkit-border-top-right-radius: $size;
    -webkit-border-top-left-radius: $size;
    -moz-border-radius-size: $size;
    -moz-border-radius-size: $size;
    border-top-right-radius: $size;
    border-top-left-radius: $size;
}

@mixin border-radius-bottom($size){
    -webkit-border-bottom-right-radius: $size;
    -webkit-border-bottom-left-radius: $size;
    -moz-border-radius-size: $size;
    -moz-border-radius-size: $size;
    border-bottom-right-radius: $size;
    border-bottom-left-radius: $size;
}

@mixin border-radius-left($size){
    -webkit-border-bottom-left-radius: $size;
    -webkit-border-top-left-radius: $size;
    -moz-border-radius-size: $size;
    -moz-border-radius-size: $size;
    border-bottom-left-radius: $size;
    border-top-left-radius: $size;
}

@mixin border-radius-right($size){
    -webkit-border-top-right-radius: $size;
    -webkit-border-bottom-right-radius: $size;
    -moz-border-radius-size: $size;
    -moz-border-radius-size: $size;
    border-top-right-radius: $size;
    border-bottom-right-radius: $size;
}