@mixin nudge-padding($prefix, $size, $responsive){
    .#{$nudge-prefix}#{$nudge-padding-prefix}#{$prefix}#{$responsive} {
        padding-top: $size;
        padding-bottom: $size;
        padding-left: $size;
        padding-right: $size;
    }
    .#{$nudge-prefix}#{$nudge-padding-prefix}#{$nudge-x-prefix}#{$prefix}#{$responsive} {
        padding-left: $size;
        padding-right: $size;
    }
    .#{$nudge-prefix}#{$nudge-padding-prefix}#{$nudge-y-prefix}#{$prefix}#{$responsive} {
        padding-top: $size;
        padding-bottom: $size;
    }
    .#{$nudge-prefix}#{$nudge-padding-prefix}#{$nudge-top-prefix}#{$prefix}#{$responsive} {
        padding-top: $size;
    }
    .#{$nudge-prefix}#{$nudge-padding-prefix}#{$nudge-bottom-prefix}#{$prefix}#{$responsive} {
        padding-bottom: $size;
    }
    .#{$nudge-prefix}#{$nudge-padding-prefix}#{$nudge-left-prefix}#{$prefix}#{$responsive} {
        padding-left: $size;
    }
    .#{$nudge-prefix}#{$nudge-padding-prefix}#{$nudge-right-prefix}#{$prefix}#{$responsive} {
        padding-right: $size;
    }
}

@include nudge-padding($nudge-zero-prefix, $nudge-space-zero, null);
@include nudge-padding($nudge-sm-prefix, $nudge-space-sm, null);
@include nudge-padding(null, $nudge-space, null);
@include nudge-padding($nudge-lg-prefix, $nudge-space-lg, null);
@include nudge-padding($nudge-hg-prefix, $nudge-space-hg, null);

@media(max-width: $screen-xs-max) {
    @include nudge-padding($nudge-zero-prefix, $nudge-space-zero, $nudge-responsive-xs-prefix);
    @include nudge-padding($nudge-sm-prefix, $nudge-space-sm, $nudge-responsive-xs-prefix);
    @include nudge-padding(null, $nudge-space, $nudge-responsive-xs-prefix);
    @include nudge-padding($nudge-lg-prefix, $nudge-space-lg, $nudge-responsive-xs-prefix);
    @include nudge-padding($nudge-hg-prefix, $nudge-space-hg, $nudge-responsive-xs-prefix);
}

@media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include nudge-padding($nudge-zero-prefix, $nudge-space-zero, $nudge-responsive-sm-prefix);
    @include nudge-padding($nudge-sm-prefix, $nudge-space-sm, $nudge-responsive-sm-prefix);
    @include nudge-padding(null, $nudge-space, $nudge-responsive-sm-prefix);
    @include nudge-padding($nudge-lg-prefix, $nudge-space-lg, $nudge-responsive-sm-prefix);
    @include nudge-padding($nudge-hg-prefix, $nudge-space-hg, $nudge-responsive-sm-prefix);
}

@media(min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @include nudge-padding($nudge-zero-prefix, $nudge-space-zero, $nudge-responsive-md-prefix);
    @include nudge-padding($nudge-sm-prefix, $nudge-space-sm, $nudge-responsive-md-prefix);
    @include nudge-padding(null, $nudge-space, $nudge-responsive-md-prefix);
    @include nudge-padding($nudge-lg-prefix, $nudge-space-lg, $nudge-responsive-md-prefix);
    @include nudge-padding($nudge-hg-prefix, $nudge-space-hg, $nudge-responsive-md-prefix);
}

@media(min-width: $screen-lg-min) {
    @include nudge-padding($nudge-zero-prefix, $nudge-space-zero, $nudge-responsive-lg-prefix);
    @include nudge-padding($nudge-sm-prefix, $nudge-space-sm, $nudge-responsive-lg-prefix);
    @include nudge-padding(null, $nudge-space, $nudge-responsive-lg-prefix);
    @include nudge-padding($nudge-lg-prefix, $nudge-space-lg, $nudge-responsive-lg-prefix);
    @include nudge-padding($nudge-hg-prefix, $nudge-space-hg, $nudge-responsive-lg-prefix);
}