@mixin nudge-text($prefix, $size, $unit, $responsive){
    .#{$nudge-prefix}#{$nudge-text-prefix}-sm#{$responsive} {
        font-size: $size - ($unit * 5);
    }
    .#{$nudge-prefix}#{$nudge-text-prefix}-sm-lg#{$responsive} {
        font-size: $size - ($unit * 4);
    }
    .#{$nudge-prefix}#{$nudge-text-prefix}-sm-hg#{$responsive} {
        font-size: $size - ($unit * 3);
    }
    .#{$nudge-prefix}#{$nudge-text-prefix}-md-xs#{$responsive} {
        font-size: $size - ($unit * 2);
    }
    .#{$nudge-prefix}#{$nudge-text-prefix}-md-sm#{$responsive} {
        font-size: $size - ($unit * 1);
    }
    .#{$nudge-prefix}#{$nudge-text-prefix}-md#{$responsive} {
        font-size: $size;
    }
    .#{$nudge-prefix}#{$nudge-text-prefix}-md-lg#{$responsive} {
        font-size: $size + ($unit * 2);
    }
    .#{$nudge-prefix}#{$nudge-text-prefix}-md-hg#{$responsive} {
        font-size: $size + ($unit * 4);
    }
    .#{$nudge-prefix}#{$nudge-text-prefix}-lg-xs#{$responsive} {
        font-size: $size + ($unit * 6);
    }
    .#{$nudge-prefix}#{$nudge-text-prefix}-lg-sm#{$responsive} {
        font-size: $size + ($unit * 10);
    }
    .#{$nudge-prefix}#{$nudge-text-prefix}-lg#{$responsive} {
        font-size: $size + ($unit * 14);
    }
    .#{$nudge-prefix}#{$nudge-text-prefix}-lg-lg#{$responsive} {
        font-size: $size + ($unit * 18);
    }
    .#{$nudge-prefix}#{$nudge-text-prefix}-lg-hg#{$responsive} {
        font-size: $size + ($unit * 22);
    }
    .#{$nudge-prefix}#{$nudge-text-prefix}-hg-xs#{$responsive} {
        font-size: $size + ($unit * 26);
    }
    .#{$nudge-prefix}#{$nudge-text-prefix}-hg-sm#{$responsive} {
        font-size: $size + ($unit * 30);
    }
    .#{$nudge-prefix}#{$nudge-text-prefix}-hg#{$responsive} {
        font-size: $size + ($unit * 34);
    }
    .#{$nudge-prefix}#{$nudge-text-prefix}-hg-lg#{$responsive} {
        font-size: $size + ($unit * 38);
    }
    .#{$nudge-prefix}#{$nudge-text-prefix}-hg-hg#{$responsive} {
        font-size: $size + ($unit * 42);
    }
}

@include nudge-text(null, $nudge-font-size, $nudge-font-size-increment, null);

@media(max-width: $screen-xs-max) {
    @include nudge-text(null, $nudge-font-size, $nudge-font-size-increment, $nudge-responsive-xs-prefix);
}

@media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include nudge-text(null, $nudge-font-size, $nudge-font-size-increment, $nudge-responsive-sm-prefix);
}

@media(min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @include nudge-text(null, $nudge-font-size, $nudge-font-size-increment, $nudge-responsive-md-prefix);
}

@media(min-width: $screen-lg-min) {
    @include nudge-text(null, $nudge-font-size, $nudge-font-size-increment, $nudge-responsive-lg-prefix);
}